<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.ary.alcoinfo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Alcoinfo">
        <activity
            android:name=".Brandy"
            android:exported="false" />
        <activity
            android:name=".Tequila"
            android:exported="false" />
        <activity
            android:name=".Vodka"
            android:exported="false" />
        <activity
            android:name=".Whisky"
            android:exported="false" />
        <activity
            android:name=".Cerveza"
            android:exported="false" />
        <activity
            android:name=".Cava"
            android:exported="false" />
        <activity
            android:name=".Champan"
            android:exported="false" />
        <activity
            android:name=".Categoria4"
            android:exported="false" />
        <activity
            android:name=".Categoria3"
            android:exported="false" />
        <activity
            android:name=".Categoria2"
            android:exported="false" />
        <activity
            android:name=".Categoria1"
            android:exported="false" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>